@using SquishIt.Framework
@model CityTravel.Web.UI.Models.MakeRouteViewModel
@{
    ViewBag.Title = "CityTravel";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="sidebar well">
		<div class="loadingBar">
			<img src="@Url.Content("~/Content/images/loader_2.gif")" alt=""/>
		</div>
		<div class="sidebar-content">
			<div class="input-prepend">
				<span class="add-on">@Resources.StartPoint</span>
				<input type="text" id="StartPointAddress" value="" placeholder="@Resources.EnterAddress" data-bind="value: startPoint.name, valueUpdate: 'keypress', hasfocus: startPoint.isSelected" data-provide="typeahead" />
				<span class="label" id="swap" data-bind='click: swap'>
					<i class="icon-resize-vertical icon-white"></i>
				</span>
			</div>
			<div class="input-prepend">
				<span class="add-on">@Resources.EndPoint</span>
				<input type="text" id="EndPointAddress" value="" data-bind="value: endPoint.name, valueUpdate: 'keypress', hasfocus: endPoint.isSelected" placeholder="@Resources.EnterAddress" data-provide="typeahead" />
			</div>
			<div id="buttons">
				 <span class="btn-group" id="priority" data-toggle="buttons-radio">
					<button class="btn active" id="btn-time" data-bind="click: $root.sortByTime">
						<i class="icon-time"></i>
						@Resources.Time
					</button>
					<button class="btn" id="btn-money" data-bind="click: $root.sortByMoney">
						<i class=" icon-fire"></i>
						@Resources.Money
					</button>
				</span>
				<a id="makeRouteBtn" class="btn btn-success btn-large" data-bind="click: findPath,  css: {disabled: !isPathPossible()}">@Resources.MakeRoute</a>
			</div>
			<div id="routes-list" data-bind="slideVisibleLeft: routeListShown">
				<ul data-bind="foreach: viewModel">
					<li class="route-box" data-bind="click: $parent.setCurrentRoute, css: {selected: selected()}">
						<div class="route-box-header">
							<img src="@Url.Content("~/Content/images/time.png")" alt=""/>
							<span data-bind="text: route.Time"></span>
							<img src="@Url.Content("~/Content/images/header_price.png")" alt=""/>
							<span data-bind="text: route.Price"></span>
							<img src="@Url.Content("~/Content/images/distance.gif")" alt=""/>
							<span data-bind="text: route.AllLength"></span>
							<img src="@Url.Content("~/Content/images/header_bus.png")" alt=""/>
							<span data-bind="text: route.BusLength"></span>
							<img src="@Url.Content("~/Content/images/header_walk.png")" alt="" data-bind="visible: route.Type.Type!='Walking'"/>
							<span data-bind="text: route.SummaryWalkingLength, visible: route.Type.Type!='Walking'"></span>
							<img src="@Url.Content("~/Content/images/header_walk.png")" alt="" data-bind="visible: route.Type.Type=='Walking'"/>
							<span data-bind="text: route.AllLength,visible: route.Type.Type=='Walking'"></span>
						</div>
						<div class="route-box-body">
							<div class="walking span3" data-bind="visible: route.Type.Type != 'Walking'">
								<img src="@Url.Content("~/Content/images/walk.png")" alt=""/>
								<span class="walking-text" data-bind="text: $parent.getWalkingRouteLength(route, 0)"></span>
							</div>
							<div class="walking span3" data-bind="visible: route.Type.Type == 'Walking'">
								<img src="@Url.Content("~/Content/images/walk.png")" alt=""/>
								<span class="walking-text" data-bind="text: route.AllLength"></span>
							</div>
							<div class="transport span3" data-bind="visible: route.Type.Type != 'Walking'">
								<img class="transport-image" src="@Url.Content("~/Content/images/bus.png")" alt="" data-bind="visible: route.Type.Type == 'Bus'"/>
								<img class="transport-image" src="@Url.Content("~/Content/images/trolleybus.png")" alt="" data-bind="visible: route.Type.Type == 'Trolleybus'"/>
								<img class="transport-image" src="@Url.Content("~/Content/images/tramway.png")" alt="" data-bind="visible: route.Type.Type == 'Tramway'"/>
								<img class="transport-image" src="@Url.Content("~/Content/images/subway.png")" alt="" data-bind="visible: route.Type.Type == 'Subway'"/>
								<span class="transport-number" data-bind="text: route.Number"></span>
							</div>
							<div class="walking span3" data-bind="visible: route.Type.Type != 'Walking'">
								<img src="@Url.Content("~/Content/images/walk.png")" alt=""/>
								<span class="walking-text" data-bind="text: $parent.getWalkingRouteLength(route, 1)"></span>
							</div>
							<span class="label label-info infoBtn" data-bind="click: $root.textVersion.show">
								<i class="icon-info-sign icon-white"></i>
							</span>
							<span class="label label-info printBtn" data-bind="click: printBlockRoute">
								<i class="icon-print icon-white"></i>
							</span>
						</div>
					</li>
				</ul>
			</div>
			<div id="text-version-wrapper" data-bind="slideVisibleRight: textVersion.shown">
				<a class="label label-info" data-bind="click: $root.textVersion.show" id="closeTextVersionBtnTop"><i class="icon-arrow-left icon-white"></i></a>
				<br/><br/><br/>
				<div data-bind="html: textVersion.Steps"></div>
				<a class="label label-info" data-bind="click: $root.textVersion.show" id="closeTextVersionBtnDown"><i class="icon-arrow-left icon-white"></i></a>
			</div>
		</div>
	</div>
	<div class="map-wrapper">
		<div id="googleMap"></div>
		<div id="legend"></div>
		<div id="directions"></div>
		<div id="contextMenu"></div>
	</div>
</div>
<div id="tooltip"></div>
	<span id="imagePointA" class="btn btn-success">
        <i class="icon-map-marker"></i>
        @Resources.StartPoint
    </span>
	<span id="imagePointB" class="btn btn-info">
        <i class="icon-map-marker"></i>
        @Resources.EndPoint
    </span>
<div id="PrintWin"></div>

@section JavaScript
{
	@{
        <script src="@Url.Content("https://maps.googleapis.com/maps/api/js?v=3&libraries=places&libraries=geometry&language=ru&sensor=false&amp;key=ABQIAAAAp_RSJHSrOLSFwByjon74phSLsVbxq6dHeoLR1QV_qRgT4PSTrxTO-51YuK0iLyZz1OS01WSr1iR5EA")" type="text/javascript"></script>
       	
        SquishIt.JavaScript.Add("~/Scripts/My/Main.js");
		SquishIt.JavaScript.Add("~/Scripts/My/ControlsNew.js");
		SquishIt.JavaScript.Add("~/Scripts/My/PrintVersion.js");
		SquishIt.JavaScript.Add("~/Scripts/My/Path.js");
		SquishIt.JavaScript.Add("~/Scripts/My/Map.js");
		SquishIt.JavaScript.Add("~/Scripts/My/MakeRouteViewModel.js");
		SquishIt.JavaScript.Add("~/Scripts/My/Legend.js");
		SquishIt.JavaScript.Add("~/Scripts/My/AutocompleteNew.js");
		SquishIt.JavaScript.Add("~/Scripts/My/Helpers.js");
		SquishIt.JavaScript.Add("~/Scripts/Knouckout/knockout-2.0.0.js");
        SquishIt.JavaScript.Add("~/Scripts/jQuery/jquery.toastmessage.js");
        
    }
}
