@model CityTravel.Web.UI.Models.AddStopViewModel
@{
    ViewBag.Title = "AddStop";
}
@section JavaScript
{
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&libraries=places&libraries=drawing&sensor=false"></script>
    @{
        SquishIt.JavaScript.Add("~/Scripts/My/engine.js");
    }
}

<div class="addroute_map" id="googleMap" style="width: 840px; height: 500px; display: inline-block;" ></div>
<div class="AddStopFields">
    @using (Html.BeginForm())
    {
        <fieldset>
            @Html.ValidationSummary(true) 
            <div class="editor-label">
                @Html.LabelFor(model => model.Type)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.Selected, Model.Type, new { @id = "type" })
                <div class="err_div">
                    @Html.ValidationMessageFor(model => model.Type, "", new { @style = "color:red" })
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                <div class="err_div">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @style = "color:red" })
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.StopGeography)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.StopGeography)
                <div class="err_div">
                    @Html.ValidationMessageFor(model => model.StopGeography, "", new { @style = "color:red" })
                </div>
            </div>
            <input type="submit" value="@Resources.AddStop" />
        </fieldset>
        
        @Html.ActionLink(@Resources.RefreshRelations, "RefreshRelationsInDatabase")
    }
    
</div>

